#hero {
  
}

.flash-container {
  position: absolute; overflow: hidden;
  opacity: 1; transition: opacity .2s ease-out;
  width: 100%; height: 100%; z-index: 0; border-radius: 0px 15px 0px 15px;
}

.flash-container::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: -100%; left: 0px;
  width: 100%; height: 100%;
  background: linear-gradient(135deg, transparent 25%, rgb(255 255 255 / .75), transparent 75%);
  transition: left .2s ease-in, top .2s ease-out;
}

.card-element:hover .flash-container::before {
  top: 100%; opacity: 1;
}