@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
  --gray-0: rgb(15 15 15);
  --gray-1: rgb(25 25 25);
  --gray-2: rgb(40 40 40);
  --gray-3: rgb(100 100 100);
  --gray-4: rgb(50 50 50);
  --card-displayer-background: linear-gradient(to bottom right, var(--gray-1) 0%, var(--gray-2) 25%, var(--gray-2) 75%, var(--gray-1) 100%);
  --card-tint: linear-gradient(to bottom right, rgb(25 25 25 / .1) 0%, rgb(25 25 25 / 0) 10%, rgb(25 25 25 / 0) 50%, rgb(100 100 100 / 0) 80%, rgb(25 25 25 / 0) 100%);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

body {
  width: 100vw;
  height: 100vh;
  color: #eee;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: .5em;
  height: 0px;
  scale: .5;
  background-color: rgb(0 0 0 / 0);
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 6px 1px rgb(15 15 15 / .5);
  opacity: .7;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-1);
  outline: none;  border-radius: 15px;
  opacity: .7;
  height: 5px;
}